@model ProiectDAWcod.Data.utilizatori_exercitii

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>utilizatori_exercitii</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.exercitii.nume_exercitiu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exercitii.nume_exercitiu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.utilizatori.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.utilizatori.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_utilizatori_exercitii }) |
    @Html.ActionLink("Back to List", "Index")
</p>
