@model IEnumerable<ProiectDAWcod.Data.utilizatori_exercitii>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exercitii.nume_exercitiu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilizatori.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exercitii.nume_exercitiu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilizatori.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_utilizatori_exercitii }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_utilizatori_exercitii }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_utilizatori_exercitii })
        </td>
    </tr>
}

</table>
